.panel {
  background: hsl(var(--blue-800));
  padding: 3rem 0;
  margin: 3rem 0;
  position: relative;
  overflow: hidden;
}

.panel.blue {
  background: hsl(var(--blue-300));
}

.panel h2 {
  margin: 0 auto 0.7rem auto;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  width: 90%;
  color: hsl(var(--zinc-100));
}

.panel.blue h2 {
  color: hsl(var(--zinc-800));
}

.panel > p {
  width: 90%;
  color: hsl(var(--zinc-100));
  max-width: 79rem;
  position: relative;
  z-index: 2;
}

.panel.blue > p {
  color: hsl(var(--zinc-800));
}

.panel form {
  margin: 1rem auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 90%;
  max-width: 79rem;
  z-index: 2;
  position: relative;
}

.panel form .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.panel form .content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.panel form .content input,
.panel form .content textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-family: var(--font-body);
  border: 3px solid hsl(var(--blue-800));
  outline: none;
}

.panel.blue form .content input,
.panel.blue form .content textarea {
  border: 3px solid hsl(var(--blue-300));
}

.panel form .content input:focus,
.panel form .content input:active,
.panel form .content textarea:focus,
.panel form .content textarea:active {
  border-color: hsl(var(--blue-300));
}

.panel.blue form .content input:focus,
.panel.blue form .content input:active,
.panel.blue form .content textarea:focus,
.panel.blue form .content textarea:active {
  border-color: hsl(var(--blue-800));
}

.panel form button {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  font-family: var(--font-heading);
  font-weight: 600;
  color: hsl(var(--zinc-900));
  background: hsl(var(--blue-300));
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.panel.blue form button {
  color: hsl(var(--zinc-100));
  background: hsl(var(--blue-800));
}

.panel form button:hover,
.panel form button:focus,
.panel form button:active {
  background: hsla(var(--blue-300), 0.7);
}

.panel.blue form button:hover,
.panel.blue form button:focus,
.panel.blue form button:active {
  background: hsla(var(--blue-800), 0.7);
}

.ring2 {
  position: absolute;
  bottom: -6rem;
  right: -30rem;
  z-index: 0;
}
.ring2 span:nth-of-type(1) {
  display: block;
  width: 33rem;
  aspect-ratio: 1/1;
  border: 17px solid hsl(var(--blue-500));
  border-radius: 50%;
  z-index: 1;
}
.ring2 span:nth-of-type(2) {
  display: block;
  width: 24rem;
  aspect-ratio: 1/1;
  border: 13px solid hsl(var(--blue-600));
  border-radius: 50%;
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  z-index: 1;
}
.ring2 span:nth-of-type(3) {
  display: block;
  width: 20rem;
  aspect-ratio: 1/1;
  border: 15px solid hsl(var(--blue-400));
  border-radius: 50%;
  position: absolute;
  bottom: -2rem;
  right: 18rem;
  z-index: 1;
}

@media (min-width: 64rem) {
  .panel > p,
  .panel form {
    width: 95%;
  }

  .panel form .content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    align-items: stretch;
  }

  .panel form .content div {
    justify-content: space-between;
  }

  .ring1 {
    position: absolute;
    top: -14rem;
    left: -16rem;
    z-index: 0;
  }
  .ring1 span:nth-of-type(1) {
    display: block;
    width: 17rem;
    aspect-ratio: 1/1;
    border: 19px solid hsl(var(--blue-500));
    border-radius: 50%;
    z-index: 1;
  }
  .ring1 span:nth-of-type(2) {
    display: block;
    width: 13rem;
    aspect-ratio: 1/1;
    border: 15px solid hsl(var(--blue-600));
    border-radius: 50%;
    position: absolute;
    top: 7rem;
    left: 8rem;
    z-index: 1;
  }
  .ring1 span:nth-of-type(3) {
    display: block;
    width: 16.5rem;
    aspect-ratio: 1/1;
    border: 8px solid hsl(var(--blue-400));
    border-radius: 50%;
    position: absolute;
    top: 13rem;
    left: 2rem;
    z-index: 1;
  }
}

.success {
  background: hsla(var(--green-600), 0.5);
  border: 2px solid hsl(var(--green-800));
  color: hsl(var(--zinc-100));
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

.success > * {
  vertical-align: middle;
}

.success svg {
  margin-right: 0.5rem;
  position: relative;
  top: -1px;
}

.error {
  background: hsla(var(--red-600), 0.5);
  border: 2px solid hsl(var(--red-800));
  color: hsl(var(--zinc-100));
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

.error > * {
  vertical-align: middle;
}

.error svg {
  margin-right: 0.5rem;
  position: relative;
  top: -1px;
}