.section,
.date {
  width: 90%;
  max-width: 79rem;
  margin: 3rem auto;
}

.section p {
  margin: 1rem auto;
}

.ul {
  list-style: none;
}


@media (min-width: 48rem) {
  .section,
  .date {
    width: 95%;
  }
}