.panel {
  width: 90%;
  margin: 2rem auto;
  max-width: 80rem;
  display: grid;
  align-items: center;
}

.title {
  width: 100%;
  margin: 0 auto 0.5rem auto;
}

.contentContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  display: none;
  position: relative;
}

.image {
  width: 100%;
  object-fit: cover;
  height: 28rem;
}

.panel.blue .image {
  border: solid var(--blue-300) 10px;
}
.panel.yellow .image {
  border: solid var(--yellow-400) 10px;
}

.panel.topLeft .image {
  border-radius: 0px 25px 25px 25px;
}
.panel.topRight .image {
  border-radius: 25px 0px 25px 25px;
}
.panel.bottomRight .image {
  border-radius: 25px 25px 0px 25px;
}
.panel.bottomLeft .image {
  border-radius: 25px 25px 25px 0px;
}

@media (min-width: 54rem) {
  .panel.left {
    grid-template-columns: 6fr 4fr;
    gap: 5%;
  }

  .panel.right {
    grid-template-columns: 4fr 6fr;
    gap: 5%;
  }

  .panel.left .contentContainer {
    grid-column: 1;
    grid-row: 1;
  }
  .panel.left .imageContainer {
    grid-column: 2;
    grid-row: 1;
  }

  .panel.right .imageContainer {
    grid-column: 1;
    grid-row: 1;
  }
  .panel.right .contentContainer {
    grid-column: 2;
    grid-row: 1;
  }

  .imageContainer {
    display: block;
  }
}

.svg {
  width: 30%;
  min-width: 7rem;
  transition: all 0.5s;
  transform-origin: center;
}

.col1 {
  fill: var(--blue-900);
}

.col2 {
  fill: var(--yellow-400);
}

.col3 {
  fill: var(--blue-300);
}

.svg g > * {
  stroke-width: 0px;
  transition: all 0.5s;
}

.svg:hover {
  scale: 0.925;
}

.svg.topLeft {
  position: absolute;
  rotate: 15deg;
  left: -12%;
  top: -6%;
}
.svg.topLeft:hover .animate1 {
  transform: translate(-3px, -3px);
}
.svg.topLeft:hover .animate2 {
  scale: 0.95;
  transform: translate(-4px, 8px);
}
.svg.topLeft:hover .animate3 {
  scale: 0.9;
  transform: translate(5px, 5px);
}

.svg.topRight {
  position: absolute;
  rotate: -35deg;
  right: -10%;
  top: -5%;
}
.svg.topRight:hover .animate1 {
  transform: translate(-3px, -3px);
}
.svg.topRight:hover .animate2 {
  scale: 0.9;
  transform: translate(4px, 3px);
}
.svg.topRight:hover .animate3 {
  scale: 0.95;
  transform: translate(5px, 5px);
}

.svg.bottomLeft {
  position: absolute;
  rotate: 195deg;
  left: -10%;
  bottom: -5%;
}
.svg.bottomLeft:hover .animate1 {
  transform: translate(-3px, -3px);
}
.svg.bottomLeft:hover .animate2 {
  scale: 0.95;
  transform: translate(-4px, 8px);
}
.svg.bottomLeft:hover .animate3 {
  scale: 0.9;
  transform: translate(5px, 5px);
}

.svg.bottomRight {
  position: absolute;
  rotate: 90deg;
  right: -10%;
  bottom: -3%;
}
.svg.bottomRight:hover .animate1 {
  transform: translate(-3px, -3px);
}
.svg.bottomRight:hover .animate2 {
  scale: 0.9;
  transform: translate(4px, 3px);
}
.svg.bottomRight:hover .animate3 {
  scale: 0.95;
  transform: translate(5px, 5px);
}