.banner {
  background:
    linear-gradient(hsl(var(--zinc-900), 0.3), hsl(var(--zinc-900), 0.7)),
    url("https://res.cloudinary.com/dl6zbzu06/image/upload/v1743890938/bl4m2UPETa_slguyb_1_it3hay_fzmltc.jpg")
      left 50% top 60% / cover no-repeat border-box,
    hsl(var(--blue-800));
}

.what {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 79rem;
  margin: 3rem auto;
}

.what .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.what h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}

.what img {
  display: none;
}

.what .button {
  align-self: flex-end;
}

@media (min-width: 48rem) {
  .what {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 3rem;
  }

  .what img {
    display: block;
    width: 100%;
    height: 25rem;
    object-fit: cover;
  }
}

@media (min-width: 64rem) {
  .what {
    width: 95%;
  }
}

.gallery {
  width: 100%;
  padding: 3rem 0;
  margin: 3rem auto;
  background: hsl(var(--blue-300));
}

.gallery .inner {
  width: 90%;
  max-width: 79rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  gap: 2rem;
}

.gallery .inner img {
  width: 100%;
  aspect-ratio: 1/1;
  height: auto;
  object-fit: cover;
  margin: auto;
  border-radius: 10px;
}

@media (min-width: 32rem) {
  .gallery .inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 48rem) {
  .gallery .inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 64rem) {
  .gallery .inner {
    width: 95%;
  }
}