
.panel {
  width: 100%;
  background: var(--blue-900);
  margin: 2.5rem auto 2.5rem auto;
  padding: 1.5rem 0 1rem 0;
}

.inner {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 80rem;
  margin: auto;
}

.panel h2,
.panel p {
  color: var(--zinc-100);
  width: 100%;
}

.panel h2 {
  margin-left: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem auto;
}

.formContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form input,
.form textarea {
  width: 100%;
  margin: 0 auto 0.5rem auto;
  padding: 0.5rem;
  border: 1px solid var(--sky-blue);
  border-radius: 5px;
  font-size: 0.9rem;
  font-family: var(--font-body);
  border: 3px solid var(--deep-ocean-blue);
  outline: none;
}

.form textarea {
  margin-bottom: 0;
}

.form input:active,
.form input:focus,
.form textarea:focus,
.form textarea:active {
  border: 3px solid var(--sunshine-yellow);
}

.error {
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: 3px solid var(--red-300);
  border-radius: 5px;
  background: var(--red-500);
}

.error p {
  color: var(--zinc-100);
  font-size: 0.9rem;
}

.error .icon {
  margin-right: 0.3rem;
}

@media (min-width: 48rem) {
  
  .formContent {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
  }

  .formContent textarea {
    width: 58%;
    margin-bottom: 0;
  }

  .inputs {
    width: 40%;
    justify-content: space-between;
  }

  .inputs input {
    width: 100%;
    margin-bottom: 0;
  }

}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100lvw;
  height: 100lvh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.popup {
  position: fixed;
  z-index: 101;
  top: 40%;
  left: 50%;
  width: 90%;
  max-width: 35rem;
  transform: translate(-50%, -50%);
  background: var(--zinc-100);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1.5rem;
  border: var(--blue-300) 8px solid;
  border-radius: 15px;
}