.bannerContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  position: absolute;
  bottom: 10%;
  left: 5%;
  cursor: default;
}

.bannerContent h3 {
  width: 100%;
  color: var(--zinc-100);
  cursor: default;
}

.bannerButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.bannerButtons > * {
  margin: 2% 0;
}

@media (orientation: landscape) {
  .bannerButtons {
    flex-direction: row;
  }

  .bannerButtons > * {
    margin: 0 2%;
  }
}

@media (min-width: 48rem) {
  .bannerContent {
    bottom: 14%;
    left: 7%;
  }

  .bannerContent h3 {
    max-width: 27.5rem;
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .bannerButtons {
    flex-direction: row;
  }

  .bannerButtons > * {
    margin: 0 2%;
  }
}

.aboutPanel {
  margin-top: 3rem;
}

.aboutPanel p {
  margin: 0.5rem auto;
}

.aboutPanel ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  cursor: default;
}

.aboutPanel li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin: 0 auto 1rem auto;
  width: 100%;
  max-width: 120rem;
  font-family: var(--font-body);
  font-size: 1rem;
}

.aboutPanel .icon {
  display: block;
  min-width: 1.5rem;
  height: 1.5rem;
  padding: 0.4rem;
  margin-right: 1rem;
  border-radius: 50%;
  color: var(--zinc-900);
  background: var(--green-300);
}

.projectsPanel h2 {
  width: 90%;
  max-width: 80rem;
}

.projectsInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  margin: auto;
  max-width: 110rem;
}

.projectsInner a {
  width: 90%;
  max-width: 25rem;
  aspect-ratio: 1/1;
  border: 8px solid var(--blue-300);
  border-radius: 12px;
  position: relative;
  cursor: pointer;
}

.projectsInner a .text {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 15%;
  background: var(--blue-300);
  padding: 1rem 0.75rem;
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--zinc-900);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectsInner a .icon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.75rem;
}

.projectsInner .image {
  display: none;
}

.projectsInner > *:nth-child(n) {
  display: block;
}

.projectsInner > *:nth-child(n + 3) {
  display: none;
}

.projectsInner > *:nth-last-child(2) {
  display: block;
}

@media (min-width: 32rem) {
  .projectsInner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
  }

  .projectsInner a {
    width: 100%;
  }

  .projectsInner > *:nth-child(n) {
    display: block;
  }

  .projectsInner > *:nth-child(n + 4) {
    display: none;
  }

  .projectsInner > *:nth-last-child(2) {
    display: block;
  }
}

@media (min-width: 56rem) {
  .projectsInner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 1rem;
  }

  .projectsInner a {
    width: 100%;
  }

  .projectsInner > *:nth-child(n) {
    display: block;
  }

  .projectsInner > *:nth-child(n + 6) {
    display: none;
  }

  .projectsInner > *:nth-last-child(2) {
    display: block;
  }
}

@media (min-width: 76rem) {
  .projectsInner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    max-width: 100rem;
  }

  .projectsInner a {
    width: 100%;
  }

  .projectsInner > *:nth-child(n) {
    display: block;
  }

  .projectsInner .image {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 2/0.95;
    object-fit: cover;
    grid-column: 1 / span 2;
    grid-row: 2;
    border: 8px solid var(--yellow-400);
    border-radius: 12px;
  }
}

.donationDrive {
  background: var(--blue-300);
  border: 1px transparent solid;
  border-bottom: 16px solid var(--blue-800);
}

.donationDrive .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.donationDrive .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  max-width: 50rem;
}

.donationDrive .text p {
  width: 100%;
}

.donationDrive .text p a {
  color: var(--zinc-900);
  font-weight: 600;
}

.donationDrive h2 {
  margin: 0;
  margin-bottom: 0.25rem;
}

.donationDrive .image {
  width: 100%;
  height: 100%;
  max-width: 10rem;
  margin: auto;
}

.donationDrive .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 48rem) {
  .donationDrive .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .donationDrive .image {
    max-width: 15rem;
  }
}