.panel {
  width: 100%;
  background: hsl(var(--yellow-400));
  position: relative;
  margin-bottom: 2;
  margin: 2.5rem auto 2.5rem auto;
  height: 20rem;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100rem;
  height: 100%;
  margin: 0 auto;
  background: hsl(var(--yellow-400));
  overflow: hidden;
  position: relative;
}

.inner div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 79rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}

.inner .hidden {
  opacity: 0;
  transform: translate(100svh, -50%);
}

.inner .after {
  opacity: 0;
  transform: translate(-100svh, -50%);
}

.panel p {
  width: 100%;
  text-align: center;
  margin: 0.5rem auto;
}

@media (orientation: landscape) {
  .panel {
    height: 18.5rem;
  }
}

@media (min-width: 64rem) {
  .inner div {
    width: 95%;
  }
}
