.banner {
  background: 
    linear-gradient(hsl(var(--zinc-900),0.3), hsl(var(--zinc-900),0.7)), 
    url("https://res.cloudinary.com/dl6zbzu06/image/upload/v1743592893/IMG_1599_wpo5wq.jpg") 
    left 50% top 90% / cover no-repeat border-box, 
    hsl(var(--blue-800));
}

.what {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 90%;
  max-width: 79rem;
  margin: 3rem auto;
}

.what .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.what h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}

.what img {
  width: 100%;
  height: auto;
  max-width: 25rem;
}

@media (min-width: 48rem) {
  .what {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 3rem;
  }

  .what img {
    display: block;
    width: 100%;
    max-width: none;
    height: 25rem;
    object-fit: cover;
  }
}

@media (min-width: 64rem) {
  .what {
    width: 95%;
  }
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 90%;
  max-width: 79rem;
  margin: 3rem auto;
  gap: 0.5rem;
}

.feedback h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}

.feedback p {
  width: 100%;
}

.feedback a {
  align-self: flex-end;
}

@media (min-width: 64rem) {
  .feedback {
    width: 95%;
  }
}

.stats {
  background: hsl(var(--blue-300));
  margin: 3rem auto;
  padding: 3rem 0;
}

.stats .inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 60rem;
}

.stats article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 15rem;
}

.stats article .icon {
  color: hsl(var(--zinc-800));
}

.stats article h3 {
  margin: 0;
  font-size: 2rem;
}

@media (min-width: 40rem) {
  .stats .inner {
    justify-content: space-around;
  }
}

.setup {
  width: 90%;
  max-width: 79rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 3rem auto;
  gap: 0.5rem;
}

.setup h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}

.setup .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  margin: 1rem auto;
}

.setup .content article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 8px 5px hsla(var(--zinc-300), 0.8);
  background: hsla(var(--blue-50), 0.3);
}

.setup .content article.yellow {
  background: hsla(var(--yellow-50), 0.3);
}

.setup .content h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: hsla(var(--blue-100), 0.7);
  padding-left: 1rem;
}

.setup .content article.yellow h3 {
  background: hsla(var(--yellow-100), 0.7);
}

.setup .content h3 sup {
  font-size: 0.8rem;
  color: hsl(var(--zinc-700));
}

.setup .content h3 .highlight {
  background: hsl(var(--blue-300));
  padding: 1rem;
}

.setup .content article.yellow h3 .highlight {
  background: hsl(var(--yellow-400));
}

.setup .content article .list {
  display: grid;
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 1rem;
  gap: 0.25rem;
}

@media (min-width: 30rem) {
  .setup .content article .list {
    grid-template-columns: 1fr 1fr;
  }
}

.setup .content article .list li {
  font-family: var(--font-body);
  margin-left: 2rem;
}

.setup .content h4 {
  margin: 0 auto;
  font-size: 1.25rem;
  font-weight: 600;
}

@media (min-width: 48rem) {
  .setup .content {
    flex-direction: row;
    align-items: stretch;
  }

  .setup .content article .list {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 64rem) {
  .setup {
    width: 95%;
  }

  .setup .content article .list {
    grid-template-columns: 1fr 1fr;
  }
}

.journey {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 79rem;
  margin: 3rem auto;
}

.journey .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.journey h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}

.journey img {
  display: none;
}

@media (min-width: 48rem) {
  .journey {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
  }

  .journey .text {
    grid-column: 2 / 3;
  }

  .journey img {
    display: block;
    width: 100%;
    height: 25rem;
    object-fit: cover;
    grid-row: 1 / 2;
  }
}

@media (min-width: 64rem) {
  .journey {
    width: 95%;
  }
}

.help {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 79rem;
  margin: 3rem auto;
  gap: 2rem;
}

.help .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.help h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}

.help img {
  display: block;
  width: 100%;
  height: auto;
}

.help .links {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.help h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  width: 100%;
}

.help ul {
  margin: 0;
}

.help ul a {
  color: hsl(var(--zinc-800));
  font-family: var(--font-heading);
  font-weight: 500;
}

@media (min-width: 48rem) {
  .help {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 4rem;
    justify-content: flex-start;
    align-self: flex-start;
  }

  .help .text {
    align-self: flex-start;
  }
}

@media (min-width: 64rem) {
  .help {
    width: 95%;
  }
}

.disclaimer {
  width: 90%;
  max-width: 79rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem auto 0 auto;
}

.disclaimer p {
  font-size: 0.8rem;
  color: hsl(var(--zinc-700));
}

@media (min-width: 64rem) {
  .disclaimer {
    width: 95%;
  }
}