.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
  width: 90%;
  max-width: 79rem;
  gap: 2rem;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.member img {
  width: 100%;
  max-width: 20rem;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
  border: 8px solid hsl(var(--yellow-400));
}

.member:nth-of-type(2) img {
  border: 8px solid hsl(var(--blue-400));
}
.member:nth-of-type(3) img {
  border: 8px solid hsl(var(--blue-800));
}

.member .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  gap: 0.25rem;
  text-align: left;
}

.member .text h2 {
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  margin: 0;
}

.member .text h2 span {
  font-size: 0.9rem;
  font-weight: 500;
  color: hsl(var(--zinc-500));
  font-style: italic;
}

.member .text h3 {
  font-size: 1rem;
  font-weight: 500;
  color: hsl(var(--zinc-600));
  margin: 0;
}

.member .text p {
  font-size: 1rem;
  color: hsl(var(--zinc-800));
  margin: 0;
}

.member .text p a {
  color: hsl(var(--blue-800));
  text-decoration: underline;
  font-weight: 500;
}

@media (min-width: 48rem) {
  .member {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
  }
}