.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 4px solid var(--blue-300);
  padding: 2rem 3rem;
  border-radius: 25px;
}

.item:nth-of-type(even) {
  border-color: var(--yellow-400);
}

.item h2,
.item p {
  width: 100%;
  margin: 0;
}

.button {
  align-self: flex-end;
}
