
.bannerContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 60%;
  position: absolute;
  bottom: 10%;
  left: 5%;
  cursor: default;
}

.bannerContent h3 {
  width: 100%;
  color: var(--zinc-100);
  cursor: default;
}

.bannerButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.bannerButtons > * {
  margin: 2% 0;
}

@media (orientation: landscape) {
  .bannerButtons {
    flex-direction: row;
  }

  .bannerButtons > * {
    margin: 0 2%;
  }
}

@media (min-width: 48rem) {

  .bannerContent {
    bottom: 14%;
    left: 7%;
  }

  .bannerContent h3 {
    max-width: 27.5rem;
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .bannerButtons {
    flex-direction: row;
  }

  .bannerButtons > * {
    margin: 0 2%;
  }

}

.aboutPanel {
  margin-top: 3rem;
}

.aboutPanel p {
  margin: 0.5rem auto;
}

.aboutPanel ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  cursor: default;
}

.aboutPanel li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin: 0 auto 1rem auto;
  width: 100%;
  max-width: 120rem;
  font-family: var(--font-body);
  font-size: 1rem;
}

.aboutPanel .icon {
  display: block;
  min-width: 1.5rem;
  height: 1.5rem;
  padding: 0.4rem;
  margin-right: 1rem;
  border-radius: 50%;
  color: var(--zinc-900);
  background: var(--green-300);
}
