.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container {
  width: 100%;
  max-width: 22rem;
  aspect-ratio: 1/1;
}

.container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 32rem) {
  .panel {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (min-width: 56rem) {
  .panel {
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 72rem) {
  .panel {
    grid-template-columns: auto auto auto auto;
  }
}
