.panel {
  width: 100%;
  background: var(--color-moh-yellow);
  position: relative;
  margin-bottom: 2;
  height: 32rem;
  overflow: hidden;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100rem;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.inner div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 80rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
}

.inner .hidden {
  opacity: 0;
  transform: translate(100svh, -50%);
}

.inner .after {
  opacity: 0;
  transform: translate(-100svh, -50%);
}

.panel p {
  width: 100%;
  text-align: center;
  margin: 0.5rem auto;
}

@media (orientation: landscape) {
  .panel {
    height: 23rem;
  }
}

.art1 {
  position: absolute;
  height: 100%;
  top: 0;
  left: -18rem;
  z-index: 10;
}

.art2 {
  position: absolute;
  height: 100%;
  top: -3rem;
  right: -20rem;
  z-index: 10;
}

@media (min-width: 64rem) {
  .art1 {
    left: -7rem;
  }
  .art2 {
    right: -15rem;
  }
}