.timeline {
  width: 90%;
  margin: 3rem auto 0 auto;
  max-width: 79rem;
}

@media (min-width: 64rem) {
  .timeline {
    width: 95%;
  }
}

.timeline .year {
  border-left: 4px solid hsl(var(--blue-800));
  border-top: 4px solid hsl(var(--blue-800));
  border-bottom: 4px solid hsl(var(--blue-800));
  padding: 0 0 3rem 1rem;
  border-radius: 15px;
  position: relative;
  background: hsl(var(--zinc-100));
}

.timeline .year:nth-of-type(2) {
  top: -1.5rem;
}

.timeline .year:nth-of-type(3) {
  top: -3rem;
}

.timeline .year:nth-of-type(4) {
  top: -4.5rem;
  padding-bottom: 0;
  border-bottom: none;
  border-bottom-left-radius: 0;
}

.timeline .year h2 {
  font-size: 1.5rem;
  font-weight: 600;
  vertical-align: middle;
  margin-left: 1rem;
  background: hsl(var(--zinc-100));
  position: relative;
  top: -2rem;
}

.timeline .year h2 span {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 4px solid hsl(var(--blue-800));
  vertical-align: middle;
  margin-right: 0.6rem;
  position: relative;
  top: -0.2rem;
}

.timeline .year .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  top: -1rem;
}

@media (min-width: 48rem) {
  .timeline .year .content {
    flex-direction: row;
    gap: 2rem;
  }
}

.timeline .year .content img {
  width: 80%;
  aspect-ratio: 1/1;
  height: auto;
  max-width: 21rem;
  object-fit: cover;
  border-radius: 10px;
}

.timeline .year .content .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  max-width: 35rem;
}

.timeline .year .content .text p {
  width: 100%;
}

.messages {
  margin-top: 0;
}