.donate {
  background: hsl(var(--blue-300));
  margin: 3rem auto;
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
}

.donate.darkBlue {
  background: hsl(var(--blue-800));
}

.donate .inner {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  max-width: 79rem;
}

.donate h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  z-index: 2;
  position: relative;
}

.donate.darkBlue h2 {
  color: hsl(var(--zinc-100));
}

.donate a {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  font-family: var(--font-heading);
  color: hsl(var(--zinc-800));
  background: hsl(var(--yellow-400));
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  align-self: flex-end;
  z-index: 2;
  position: relative;
  transition: all 0.3s;
}

.donate a:hover,
.donate a:focus,
.donate a:active {
  background: hsla(var(--yellow-500), 0.9);
}

.donate .art {
  position: absolute;
  top: -30%;
  left: 60%;
  z-index: 1;
  height: 200%;
  opacity: 0.4;
}

.donate.darkBlue .art {
  opacity: 1;
}

@media (min-width: 26rem) {
  .donate h2 {
    width: 80%;
  }

  .donate .art {
    left: 70%;
  }
}

@media (min-width: 40rem) {
  .donate .inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .donate h2 {
    width: 60%;
  }

  .donate a {
    align-self: center;
  }

  .donate .art {
    left: 50%;
    top: -40%;
  }
}

@media (min-width: 64rem) {
  .donate .inner {
    width: 95%;
  }

  .donate .art {
    left: 55%;
    top: -40%;
  }
}
