.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.panel article {
  border: solid 6px var(--blue-300);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.7rem;
  border-radius: 16px;
}

.panel article:nth-of-type(even) {
  border-color: var(--yellow-400);
}

.panel article h2 {
  width: 100%;
  margin: 0 auto;
}

.darkPanel {
  background: var(--blue-900);
}

.darkPanel p {
  color: var(--zinc-100);
  padding: 2rem 0;
}

.videos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.videos iframe {
  width: 100%;
  aspect-ratio: 16/9;
  max-width: 35rem;
}

.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.images img {
  width: 100%;
  aspect-ratio: 1/1;
  height: auto;
  object-fit: cover;
}

@media (min-width: 32rem) {
  .images {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (min-width: 48rem) {
  .videos {
    flex-direction: row;
  }

  .videos iframe {
    width: 45%;
  }

  .images {
    grid-template-columns: auto auto auto;
  }
}

/* @media (min-width: 48rem) {
  .panel {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
  }

  .panel article:nth-of-type(3) {
    background: var(--yellow-400);
  }
  .panel article:nth-of-type(4) {
    background: var(--blue-300);
  }
} */