.banner {
  background: hsl(var(--blue-800));
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner .inner {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 79rem;
}

.banner .inner img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  max-width: 30rem;
}

.banner .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
}

.banner .content h1 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 2.5rem;
  color: hsl(var(--zinc-100));
}

.banner .content p {
  color: hsl(var(--zinc-100));
}

@media (min-width: 48rem) {
  .banner .inner {
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 2fr;
  }

  .banner .inner img {
    grid-column: 2 / 3;
    align-self: end;
    max-width: 30rem;
    margin: auto;
    height: 21rem;
  }

  .banner .inner .content {
    grid-row: 1/2;
    grid-column: 1 / 2;
  }
}

@media (min-width: 64rem) {
  .banner .inner {
    width: 95%;
  }
}

.incredible {
  width: 90%;
  max-width: 79rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin: 3rem auto;
}

.incredible h2 {
  font-size: 2rem;
  margin: 0;
}

.incredible p {
  width: 100%;
}

.incredible .button {
  align-self: flex-end;
}

@media (min-width: 64rem) {
  .incredible {
    width: 95%;
  }
}

.donationOptions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 1rem;
  width: 90%;
  max-width: 65rem;
  margin: 3rem auto;
}

@media (min-width: 64rem) {
  .donationOptions {
    width: 95%;
    justify-content: space-between;
  }
}

.donationOptions .option {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 8px 5px hsla(var(--zinc-300), 0.8);
  max-width: 20rem;
  position: relative;
}

.donationOptions .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1.25rem;
  right: -1rem;
  background: hsl(var(--blue-800));
  padding: 1rem;
  border-radius: 50%;
}

.donationOptions .icon svg {
  width: 2rem;
  height: 2rem;
  color: hsl(var(--zinc-100));
}

.donationOptions .option h3 {
  font-size: 1.5rem;
  margin: 0;
  background: hsl(var(--blue-300));
  width: 100%;
  padding: 1rem 2rem 1rem 3rem;
  border-radius: 5px 5px 0 0;
}

.donationOptions .option h4 {
  font-size: 1.2rem;
  width: 100%;
  margin: 0;
  padding: 1rem 2rem 0 2rem;
}

.donationOptions .option p {
  font-size: 1rem;
  width: 100%;
  margin: 0;
  padding: 0 2rem 2rem 2rem;
  color: hsl(var(--zinc-600));
}

.howTo {
  margin: 3rem auto;
  padding: 3rem 0;
  background: hsl(var(--blue-300));
}

.howTo .inner {
  width: 90%;
  max-width: 79rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: auto;
}

.howTo h2 {
  font-size: 2rem;
  margin: 0 auto 2rem auto;
  padding-bottom: 1rem;
  border-bottom: 3px solid hsl(var(--zinc-800));
  width: 90%;
  max-width: 79rem;
  text-align: center;
}

.howTo .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.howTo .text p {
  color: hsl(var(--zinc-800));
  width: 100%;
}

.howTo .links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  max-width: 30rem;
}

.howTo a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  text-decoration: none;
  max-width: 30rem;
}

.howTo a:hover h3,
.howTo a:focus h3,
.howTo a:active h3,
.howTo a:hover img,
.howTo a:focus img,
.howTo a:active img {
  opacity: 0.8;
  text-decoration: underline;
}

.howTo a img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  max-width: 30rem;
  transition: all 0.3s;
}

.howTo a h3 {
  font-size: 1.5rem;
  margin: 0;
  color: hsl(var(--zinc-800));
  width: 100%;
  text-decoration: none;
  transition: all 0.3s;
}

@media (min-width: 40rem) {
  .howTo h2 {
    text-align: left;
    padding-left: 2rem;
  }

  .howTo .links {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    max-width: none;
  }
}

@media (min-width: 64rem) {
  .howTo .inner {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: flex-start;
    justify-items: center;
    margin: auto;
  }

  .howTo h2 {
    padding-left: 4rem;
    width: 95%;
  }

  .howTo a img {
    height: 13rem;
  }
}

.other {
  width: 90%;
  max-width: 79rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin: 3rem auto;
}

.other h3 {
  font-size: 1.75rem;
  margin: 0;
}

.other .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.disclaimer {
  width: 90%;
  max-width: 79rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem auto 0 auto;
}

.disclaimer p {
  font-size: 0.8rem;
  color: hsl(var(--zinc-700));
}

@media (min-width: 64rem) {
  .disclaimer {
    width: 95%;
  }
}