.banner {
  background: 
    linear-gradient(hsl(var(--zinc-900),0.3), hsl(var(--zinc-900),0.7)), 
    url("https://res.cloudinary.com/dl6zbzu06/image/upload/v1743980773/Screenshot_From_2025-04-07_00-05-33_plh6gm.png") 
    left 50% top 4% / cover no-repeat border-box, 
    hsl(var(--blue-800));
}

.panel {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  max-width: 79rem;
  gap: 1rem;
}

.panel p {
  width: 100%;
}

.panel a {
  color: hsl(var(--blue-800));
}

@media (min-width: 64rem) {
  .panel {
    width: 95%;
  }
}

.highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  padding: 3rem 0;
  width: 100%;
  background: hsl(var(--blue-800));
}

.highlight p {
  color: hsl(var(--zinc-100));
  font-size: 1.25rem;
  font-weight: 600;
  width: 80%;
  max-width: 45rem;
}