.banner {
  background: hsl(var(--blue-300));
  margin: 0 auto 3rem auto;
  padding: 2rem 0 3rem 0;
}

.banner .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 79rem;
  gap: 1rem;
  margin: 0 auto;
}

.banner h1 {
  margin: 0;
  width: 100%;
  margin-bottom: 1rem;
}

@media (min-width: 64rem) {
  .banner .inner {
    width: 95%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 3rem auto;
  gap: 1rem;
  max-width: 79rem;
}

.content a {
  width: 100%;
  aspect-ratio: 1/1;
  height: auto;
  text-decoration: none;
  border-radius: 15px;
  border: 6px solid hsl(var(--blue-800));
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  max-width: 20rem;
}

.content a h2 {
  margin: 0;
  color: hsl(var(--zinc-100));
  font-size: 1.5rem;
  transition: all 0.3s;
}

.content a p {
  width: 100%;
  font-style: italic;
  color: hsl(var(--zinc-100));
  font-size: 0.9rem;
  transition: all 0.3s;
}

.content a:hover h2,
.content a:focus h2,
.content a:active h2,
.content a:hover p,
.content a:focus p,
.content a:active p {
  color: hsl(var(--blue-300));
}

.content a.bags {
  background: 
    linear-gradient(hsl(var(--zinc-900),0.5), hsl(var(--zinc-900),0.8)), 
    url("https://res.cloudinary.com/dl6zbzu06/image/upload/v1743879330/IMG_1592_vz5ka0.jpg") 
    left 50% top 90% / cover no-repeat border-box, 
    hsl(var(--blue-800));
}

.content a.lines {
  background: 
    linear-gradient(hsl(var(--zinc-900),0.5), hsl(var(--zinc-900),0.8)), 
    url("https://res.cloudinary.com/dl6zbzu06/image/upload/v1743880333/IMG_2410_aq7vsx.jpg") 
    left 50% top 50% / cover no-repeat border-box, 
    hsl(var(--blue-800));
}

.content a.messages {
  background: 
    linear-gradient(hsl(var(--zinc-900),0.5), hsl(var(--zinc-900),0.8)), 
    url("https://res.cloudinary.com/dl6zbzu06/image/upload/v1743880628/64iJ879h4k_f2a9ga_1_rjm9wy_cl53mi.jpg") 
    left 50% top 50% / cover no-repeat border-box, 
    hsl(var(--blue-800));
}

@media (min-width: 40rem) {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr;
    justify-content: stretch;
    align-items: stretch;
  }

  .content a {
    aspect-ratio: auto;
    max-width: none;
  }

  .content a.messages {
    height: 20rem;
    grid-column: 1/3;
  }

  .content a h2 {
    font-size: 2rem;
  }
  
  .content a p {
    font-size: 1rem;
  }
}

@media (min-width: 64rem) {
  .content {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 2fr;
    justify-content: stretch;
    align-items: stretch;
  }

  .content a {
    aspect-ratio: auto;
  }

  .content a.messages {
    grid-column: 1/3;
    height: 15rem;
  }

  .content a h2 {
    font-size: 2.5rem;
  }
  
  .content a p {
    font-size: 1.25rem;
  }

  .content a.messages {
    background: 
      linear-gradient(hsl(var(--zinc-900),0.5), hsl(var(--zinc-900),0.8)), 
      url("https://res.cloudinary.com/dl6zbzu06/image/upload/v1743880628/64iJ879h4k_f2a9ga_1_rjm9wy_cl53mi.jpg") 
      left 0% top 50% / 110% no-repeat border-box, 
      hsl(var(--blue-800));
  }
}
