
.button {
  display: flex;
  width: fit-content;
  min-width: 11.25rem;
  min-height: 2.56rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -0.045rem;
  text-decoration: none;
  color: var(--zinc-900);
  padding: 0.55rem 0.9rem;
  border-radius: 1.5rem;
  background: var(--blue-300);

  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.button.icon {
  justify-content: space-between;
}

.button:hover,
.button:focus,
.button:active {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
}

.button .arrow {
  display: none;
}

.button.icon .arrow {
  display: block;
  position: relative;
  width: 0.9rem;
}

.button.yellow {
  background: var(--yellow-400);
}

@media (min-width: 48rem) {
  .button {
    font-size: 1.2rem;
    min-width: 13.5rem;
    min-height: 3rem;
    padding: 0.5rem 1.25rem;
  }

  .arrow {
    width: 1rem;
  }
}
