.banner {
  background: 
    linear-gradient(hsl(var(--zinc-900),0.3), hsl(var(--zinc-900),0.7)), 
    url("https://res.cloudinary.com/dl6zbzu06/image/upload/v1743978852/world-mental-health-day-2022__2_nkwwdc.jpg") 
    left 50% top 40% / cover no-repeat border-box, 
    hsl(var(--blue-800));
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 90%;
  max-width: 79rem;
  margin: 3rem auto;
}

.panel .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.panel h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}

.panel p {
  width: 100%;
}

.panel img {
  width: 100%;
  height: auto;
  max-width: 25rem;
}

@media (min-width: 48rem) {
  .panel {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 3rem;
  }

  .panel img {
    display: block;
    width: 100%;
    max-width: none;
    height: 25rem;
    object-fit: cover;
  }
}

@media (min-width: 64rem) {
  .panel {
    width: 95%;
  }
}