.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.text p {
  width: 100%;
}

.iframe {
  width: 100%;
  aspect-ratio: 16/9;
  height: auto;
}
